.main-container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: pink;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.box-container {
  background-color: red;
  width: 200px;
  height: 150px;
  margin: 10px;
}
